.navbar {
    background: linear-gradient(90deg, #ff0a0a 0%, #a90a0a 50%, #272727 100%);
    padding: 1rem 2rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.logogiostore{
    width: 100px;
}

.navbar-container a {
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.nav-item {
    position: relative;
}


.nav-item a:hover {
    color: gray;
}

.navbar-container a:hover h1 {
    color: gray;
}

.navbar-cart {
    display: flex;
    align-items: center;
}
